server:
    port: 8080

spring:
    datasource:
        platform: postgres
        url: jdbc:postgresql://localhost:5432/tpobras
        username: postgres
        password: lucas123
        driverClassName: org.postgresql.Driver

    sql:
        init:
            schema-locations: classpath:/schema-postgresql.sql
            mode: always
            platform: postgres