<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <script th:src="@{/js/main.js}"></script>
    <title>HOME</title>
</head>
<body>
    
    <div class="principal">

        <div class="fundo-banner"></div>
        
        <header class="container header-content">

            <div id="logo">
                <h1>Agenda Inteligente</h1>
            </div>

            <nav class="nav">
                <ul>
                    <li><a th:href="@{/}">Home</a></li>

                    <li><a th:href="@{/cadastroCliente}">Novo Cliente</a></li>

                    <li><a th:href="@{/listarClientes}">Clientes</a></li>

                    <li><a th:href="@{/cadastroObra}">Nova Obra</a></li>

                    <li><a th:href="@{/listarObras}">Obras</a></li>

                    <!-- <li><a th:href="@{/cadastroFornecedor}">Cadastro Fornecedor</a></li>

                    <li><a th:href="@{/listarFornecedores}">Fornecedores</a></li> -->
                    
                    <li><button id="modoEscuroBtn" onclick="modoEscuro()">
                    <img id="iconeModo" src="/img/noite.jpg" alt="icone-modo-escuro">
                    </button></li>
                </ul>
            </nav>
            
        </header>
        
        <section class="banner">
            <!-- <div>
                <p>Excelência em<br>Construção Civil</p>
            </div> -->
        </section>

    </div>

    <main>
        <article>
            <p class="textoPrincipal">,, A memória da sua obra, na palma da sua mão: registre vistorias, adicione avisos, comentários e organize seu dia com relatórios que ajudam você a não perder nenhum detalhe — mesmo com mil tarefas na cabeça.</p>
            <div class="textosP">
                <p>Tenha um panorama completo da sua construção ao alcance dos dedos. Documente o progresso visualmente através das vistorias e adicione suas percepções e notas diretamente nos registros.<br><br>O sistema otimiza o seu tempo, transformando dados em informações acessíveis para um acompanhamento eficaz e uma tomada de decisões mais assertiva.</p>
                <p>Acompanhe sua obra na palma da sua mão. Registre vistorias completas e enriqueça-as com seus comentários.<br><br>Simplifique a organização do seu dia a dia com relatórios que te ajudam a ter uma visão geral e a não negligenciar nenhum aspecto importante do projeto, mesmo com múltiplas tarefas em andamento.</p>
            </div>
           
            <a class="btn" th:href="@{/cadastroCliente}">Teste o sistema agora!</a>
        </article>
    </main>

    <footer class="rodape">
        <div><img src="/img/Imagem1.jpg"></div>
        <div><img src="/img/2.jpg"></div>
        <div>
            <p class="nome">
                TP Henrique
            </p>
            <p class="atividade"> 2025 Sistemas para Internet<br>
            </p>
        </div>
        <div><img src="/img/3.jpg"></div>
    </footer>

</body>
</html>